<!DOCTYPE html>
<html lang="en">
<head>
    <%= render '/head.html' %>
</head>
<body>
      
    <%= render '/navbar.html' %>
          
    <main class="homesectionarea">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="decusislogosmall d-block d-sm-none">
                        <a href="/"><img src="/img/DECUSIS_LOGO.svg" class="img-fluid"></a>
                    </div>
                    <div class="decusislogobig"><br/>
                        <a href="/"><img src="/img/DECUSIS_LOGO.svg" class="img-fluid"></a><br/><br/>
                        <div class="text-center">
                            <a href="https://twitter.com/_Decusis" target="_blank"><i class="fab fa-twitter fa-lg" style="color:#000043;"></i></a>&nbsp;&nbsp;
                            <a href="https://www.youtube.com/channel/UC5mlpuiHUVpQAZh7yHGJ8Ew" target="_blank"><i class="fab fa-youtube fa-lg" style="color:#000043;"></i></a>&nbsp;&nbsp;
                            <a href="https://medium.com/decusis" target="_blank"><i class="fab fa-medium fa-lg" style="color:#000043;"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <%= yield %>
                </div>
            </div>
        </div>
    </main>
    
    <%= render '/footer.html' %>
    
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>