<footer class="footer emailSubscription">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3"></div>
            <div class="col-lg-6 col-md-6">
                <div class="emailSubsriptioninner">
                    <form>
                      <div class="form-row align-items-center">
                        <div class="col-auto">
                          <input type="email" class="form-control mb-2" id="email" placeholder="Email Address" required>
                        </div>							
                        <div class="col-auto">
                          <button type="submit" class="btn btn-primary btn-square mb-2">Subscribe</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-3"></div>
        </div>
    </div>
</footer>