<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><%= @item[:title] %></title>
<meta name="description" content="<%= item[:description] %>">
<meta name="keywords" content="responsive website">
<meta name="author" content="site">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="/img/D.png" type="image/x-icon">
<meta property="og:url" content="https://decusis.com"/>
<meta property="og:title" content="Decusis"/>
<meta property="og:description" content="Decusis is a full-stack organization committed to advancing the crypto ecosystem through knowledge, network and capital."/>
<meta property="og:image" content="https://decusis.com/img/preview.png"/>
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!--google fonts--> 
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<!--font awesome-->
<link rel="stylesheet" href="/css/font-awesome.css">
<!--end font awesome-->
<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
<link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/style.css">
<script src="/js/vendor/modernizr-2.6.2.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<script src="/js/decusis-1.0.js"></script>
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->