<style>
.logo_header {
    width: 77px;
    height: 100px;
}
@media (max-width: 767.98px) {
    .logo_header {
        display: none;
    }
}
</style>
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="main_navbararea navbar navbar-expand-md navbar-light">
                  <a class="navbar-brand logodecusis" href="/"><div class="logo_header">&nbsp;<% if not @item[:home] %><img src="/img/DECUSIS_LOGO.svg" class="img-fluid"><% end %></div></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="main_collpasarea collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                      <li class="nav-item<% if @item[:connect] %> active<% end %>"><a class="nav-link" href="/connect/">Connect</a></li>
                      <li class="nav-item<% if @item[:learn] %> active<% end %>"><a class="nav-link" href="/learn/">Learn</a> </li>
                      <li class="nav-item<% if @item[:invest] %> active<% end %>"><a class="nav-link" href="/invest/">Invest</a> </li>
                      <li class="nav-item<% if @item[:about] %> active<% end %>"><a class="nav-link" href="/about/">About</a> </li>
                      <li class="nav-item getthenewsbutton"><a class="nav-link" href="#">Get the news</a></li>
                    </ul>
                  </div>
                </nav>
            </div>
        </div>
    </div>
</header>